/* harshit's styling */

/* placeNewOrder styling START */

.whiteBtn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;
	padding: 4px 30px 4px 30px;
	border-radius: 4px;
	font-size: 16px;
	border: solid 1px #fff;
	color:#fff;
 }

.btnWhite{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;
	padding: 4px 30px;
	border-radius: 4px;
	color: #1766a6;
	font-size: 16px;
	border: solid 1px #1766a6;
 }

 .btnWhite:hover{
		background-color: #1766a6;
		color: #fff;
		border: solid 1px #fff;
 }

.btnBlue{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1766a6;
	padding: 4px 20px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	border: solid 1px #1766a6;
}

.longBtnWhite{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;
	padding: 4px 40px;
	border-radius: 4px;
	color: #1766a6;
	font-size: 16px;
	border: solid 1px #1766a6;
 }

.longBtnWhite:hover{
	background-color: #1766a6;
	color: #fff;
	border: solid 1px #fff;
}

.longBtnBlue{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1766a6;
	padding: 4px 40px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	border: solid 1px #1766a6;
}

 .btnDelete{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;
	padding: 4px 30px 4px 30px;
	border-radius: 4px;
	color: #ba1800;
	font-size: 16px;
	border: solid 1px #ba1800;
 } 	
 .btnGrey{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #DCDCDC;
	padding: 4px 30px 4px 30px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	border: solid 1px #1766a6;
 }

.cartBtn{
	background-color: #337ab7;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	border: solid 1px #337ab7;
	padding:0px;
	border-radius: 10px;
	width: 28px;
	height:30px;
	margin-top: 0
}

.quantity{
	width: 60px;
	height: 30px;
	text-align: center;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #999999;
	margin-top: 0
}

.text_14_500_6b7783{
  font-size: 14px;
  font-weight: 500;
  color: #6b7783;
}

.text_15_500_637831{
  font-size: 15px;
  font-weight: 500;
  color: #637381;
}

.text_12_500_fff{
	font-size: 14px;
	font-weight: 500;
	color: #fff;	
}

.text_14_500_6b7783{
  font-size: 14px;
  font-weight: 500;
  color: #6b7783;	
}
/* placeNewOrder END*/
.text_14_500_212b36{
	font-size: 14px;
	font-weight: 500;
	color: #212b36;	
}

.text_14_500_565656{
	font-size: 14px;
	font-weight: 500;
	color: #565656;	
}

.text_14_500_fff{
	font-size: 14px;
	font-weight: 500;
	color: #fff;	
}

.text_14_500_de4a49{
	font-size: 14px;
	font-weight: 500;
	color: #de4a49;
}

.text_14_500_1766a6{
	font-size: 14px;
	font-weight: 500;
	color: #1766a6;
}

.text_14_700_1766a6{
	font-size: 14px;
	font-weight: 700;
	color: #1766a6;
}

.text_14_500_ba1800{
	font-size: 14px;
	font-weight: 500;
	color: #ba1800;
}

.text_16_500_fff{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

.text_16_500_212b36{
	font-size: 16px;
	font-weight: 500;
	color: #212b36;
}

.text_16_bold_212b36{
	font-size: 16px;
	font-weight: bold;
	color: #212b36;
}

.text_16_500_de4a49{
	font-size: 16px;
	font-weight: 500;
	color: #de4a49;
}

.text_16_500_565656{
	font-size: 16px;
	font-weight: 500;
	color: #565656;
}

.text_16_500_6b7783{
	font-size: 16px;
	font-weight: 500;
	color: #6b7783;
	line-height: normal;
}

.text_16_500_1766a6{
	font-size: 16px;
	font-weight: 500;
	color: #1766a6;
	line-height: normal;
}


.text_16_500_ba1800{
	font-size: 16px;
	font-weight: 500;
	color: #ba1800;
}

.text_18_500_fff{
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	line-height: normal;
}

.text_18_500_212b36{
	font-size: 18px;
	font-weight: 500;
	color: #212b36;
	line-height: normal;
}

.text_18_500_6b7783{
	font-size: 18px;
	font-weight: 500;
	color: #6b7783;
	line-height: normal;
}

.text_18_500_171717{
	font-size: 18px;
	font-weight: 500;
	color: #171717;
	line-height: normal;
}

.text_18_500_565656{
	font-size: 18px;
	font-weight: 500;
	color: #565656;
	line-height: normal;
}

.text_18_500_637381{
	font-size: 18px;
	font-weight: 500;
	color: #637381;
	line-height: normal;
}

.text_18_500_1766a6{
	font-size: 18px;
	font-weight: 500;
	color: #1766a6;
	line-height: normal;
}

.text_18_500_ba1800{
	font-size: 18px;
	font-weight: 500;
	color: #ba1800;
}

.text_20_500_1766a6{
	font-size: 20px;
	font-weight: 500;
	color: #1766a6;
}

.text_20_500_212b36{
	font-size: 20px;
	font-weight: 500;
	color: #212b36;
}

.text_20_500_ba1800{
	font-size: 20px;
	font-weight: 500;
	color: #ba1800;
}

.text_20_500_6b7783{
	font-size: 20px;
	font-weight: 500;
	color: #6b7783;
}

.text_20_500_fff{
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}

.text_20_500_0e9d58{
	font-size: 20px;
	font-weight: 500;
	color: #0e9d58;
}

.text_24_500_212b36{
	font-size: 24px;
	font-weight: 500;
	color: #212b36;
}

.text_24_500_fff{
	font-size: 24px;
	font-weight: 500;
	color: #fff;
}

.text_24_500_acb3ba{
	font-size: 24px;
	font-weight: 500;
	color: #acb3ba;
}

.text_24_500_1766a6{
	font-size: 24px;
	font-weight: 500;
	color: #1766a6;
}

.text_24_500_637831{
	font-size: 24px;
	font-weight: 500;
	color: #637381;
}

.text_24_500_6b7783{
	font-size: 24px;
	font-weight: 500;
	color: #6b7783;
}


.text_30_500_212b36{
	font-size: 30px;
	font-weight: 500;
	color: #212b36;
}

.mr-5{
	margin-right: 5px;
}

.SSform {

	width: 70%;
	margin: auto;
	padding: 3em 2em 2em 2em;
}

.inputStyleSS{
	height: 40px;
	border-radius: 4px;
	border: solid 1px #acb3ba;
	background: #fff;
	font-size: 16px;
	font-weight: 500;
	color:#6b7783;
	padding:12px;
}

.selectStyleSS{
	border-radius: 4px;
	border: solid 1px #acb3ba;
	background: #fff;
	font-size: 16px;
	font-weight: 500;
	color:#212b36;
	padding:16px;
	width: 200px;
}

.btnSecondary{
	
	background-color: #1766a6;
	padding: 10px 30px 10px 30px;
	border-radius: 4px;
	color: #fff;
}

.space-between{
	display: flex;
	justify-content: space-between;
}

.parent-div{
	display: flex;flex-direction: column;flex:1;
}

.top-div{
	border-radius: 4px 4px 0px 0px;
	background-color: #f7f7f7;
	padding:20px;
}

.bottom-div{
	border-radius: 0px 0px 4px 4px;
	background-color: #fff;
	padding:20px;
}

.body_light{
	background-color:#fff;
}

.body_dark{
	background-color:#eff1f3;
}

::placeholder {
	color: #acb3ba;
}

/* input[type=text]{
	padding: 16px;
} */

.flex-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex-column{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.big_header{
	font-size: 40px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.8;
	letter-spacing: normal;
	color: #1766a6;
}

.headerDiv{
	position: sticky;
	top: 0;
	z-index: 10;
} 

.header{
	height: 56px;
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	background-color: #1766a6;
	padding: 0 20px;
} 
.header-menu{
	flex-basis: 5%;
	cursor: pointer;
} 
.header-content{
	flex-basis: 95%;
	display: flex;
	justify-content: space-between;
} 
.header-content .left_content{
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
	color: #ffffff;
} 

/* .header-content .right_content{

} */

.inventoryRow{
	display:flex;
	flex-wrap:wrap;
}
.cardLink{
	flex-basis: 20%;
	min-width: 280px;
	height: auto;
	min-height: 220px;
	border-radius: 4px;
	box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.51);
	background-color: #ffffff;
	margin:20px;
	padding:18px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	position:relative;
	cursor: pointer;
}

.settingsCardLink{
	width: 90%;
	height: 90px;
	border-radius: 4px;
	box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.51);
	background-color: #ffffff;
	margin:20px;
	padding:0px 30px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}


.cardLink:hover{
	text-decoration:none;
}
.inventoryIcon{
	width: 80px;
	height: 80px;
	object-fit: contain;
}
.inventoryText{
	width: auto;
	height: auto;
	padding:10px;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.33;
	text-align: center;
	color: #1766a6;
}

.quant-chng-btn{
	border-radius :8px;
	font-size:15px;
	padding: 0 8px ;
	color:#fff;
}

.quantityInput{
	width:60px;
	height: 20px;
	padding-left:10px;
	text-align : center;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color :#999999;
	margin: 12px 4px 0 4px;
}

.margin-40{
	margin: 40px 0;
}
.margin-20{
	margin: 20px 0;
}
.margin-10{
	margin: 10px 0;
}
.customLoader{
	height: 100%;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #000000;
	transition: opacity 0.15s linear;
	z-index:2147483001 !important;
}

.customLoader > img{
	width:100px;
	height:auto;
	position:absolute;
	top:50%;
	left:47%;
	z-index:2147483001 !important;
}

.width-100 {
	width: 100%
}
.width-70{
	width: 70%;
}
.width-50{
	width: 50%;
}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

a{
	text-decoration: none
}

a:hover{
	text-decoration: none
}

.text-center{
	text-align: center
}
.text-right{
	text-align: right
}

.unipay-card{
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.51);
	width: 100%;
	background: #fff;
	border-radius: 4px;
	padding: 16px;
}

.unipay-card-blue{
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 8px 0 rgba(174, 174, 174, 0.51);
	width: 100%;
	background: #1766a6;
	border-radius: 4px;
	padding: 16px;
}

.accordian-th-columns{
	flex:1;
	font-weight:600;
}

.accordian-td-columns{
	flex:1;
	font-weight:500;
}

.blue-input{
	border:0; 
	border-bottom: solid 1px #a5cfcf;
}

.profile-div{
	display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: flex-end;
}


/* sideBar styles */

#base{
	display: flex;
	height: fit-content;
	/* position: relative */
}

#main-menu{
	padding-left: 0px;
}
#main-menu li{
	list-style: none;
}
#main-menu li a{
	padding:25px 20px ;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
#main-menu li a:hover{
	background-color: #1766a6;
}
#main-menu li a img{
	padding-right: 20px;
	width: 40px;
}
#main-menu li a span{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.78;
	color: #ffffff;
}
#content{
	/* width: calc(90% - 40px); */
	width: 90%;
	position: relative;
	right: 0;
	margin: 0 auto ;
}
#sidebar{
	width: 20%;
	box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.2);
	background-color: #212b36;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 56px;
	display: none;
	overflow-y: scroll
}


/* switch toggle styling*/

.material-switch > input[type="checkbox"] {
	display: none;   
}

.material-switch > label {
	cursor: pointer;
	height: 0px;
	position: relative; 
	width: 40px;  
}

.material-switch > label::before {
	background: rgb(0, 0, 0);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position:absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 40px;
}
.material-switch > label::after {
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
	background: inherit;
	opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
	background: inherit;
	left: 20px;
}


/* table styling*/

.fixed-table-loading{
	display: none
	}


.tableSearchImage, .tableResetSearchImage{
	display: none
}

.tableResetSearchImage{
	width: 10px;
	position: absolute;
	right:22%;
	top:35%;
	cursor: pointer;
}

.customInputSearchDiv{
	position:  relative !important;
}

#searchDiv{
	height: 36px;
	border-radius: 0 4px 4px 0;
	background-color: #1766a6;
	padding: 10px;
	margin: 0;
} 

.inactiveDiv{
	pointer-events : none;
	opacity:0.5;
}
.activeDiv{
	pointer-events : auto;
	opacity:1;
}


/*---popover styling Start---*/

.popoverDiv{
	display:block;
	position:absolute;
	top:30px;
	right:-10px;
	width:120px;
	height:auto;
	background: #ffffff;
	padding:0;
	display:flex;
	flex-direction:column;
	z-index:2147483647;
	border: solid 1px #eff1f3;
		border-radius: 4px;
	width: 140px;
	box-shadow: 0 0 2px 0 rgba(33, 43, 54, 0.4), 0 4px 4px 0 rgba(33, 43, 54, 0.18)!important;
}
.popoverPosition{
	top:unset;
	bottom:30px;
}
.popoverSpan{
	color:#585858;
	border-bottom: solid 1px #1766a6;
		padding: 8px 10px 8px 12px;
	font-size:12px;
	display: flex;
		justify-content: space-between;
	align-items: center;
}
.popoverSpan:hover {
	background: #1766a6;
	color: #fff;
	text-decoration:none;
}
.popoverSpan small:hover {
	color: #fff;
	text-decoration:none;
}

.popoverSpan:last-child {
	border-bottom: none;
}
.popoverIcon{
	/* width:18px;
	height:12px; */
	width: 13%
}
.popoverSpan small{
	width:70%;
	text-align:left;
	height: 14px;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.2px;
	color: #212b36;
}

/*----popover styling End---*/
