<!DOCTYPE html>
<html>
  <head>
  </head>  
  <body style="background-color:#eff1f3; margin-left: 30px;margin-right: 30px">    
    
    <a href='../index.html'>Home</a>
    <h1>Tables</h1>
  </body> 
  <script type="text/javascript">

    const $ = require("jquery");
    const axios = require('axios');
    const api = require('../helpers/apiCall.js');
    const sqlite3 = require('sqlite3').verbose();
    const db = new sqlite3.Database('ssDB');
    var schema,query,tables;

    // async function main()
    // {
    //     await api.schemaCall('appSchemaInfo')
    //     .then((res)=>{        
        
    //         tables = res.data.data;       
    //     })

    //     console.log(tables)

    //     db.serialize(function(){

    //         for(let i=0;i<tables.length;i++)
    //         {
    //             query = tables[i].query;
    //             db.run(query,function(error){
    //                if(error){
    //                     console.log(error,tables[i].tableName)
    //                }
    //             });
    //         }
    //     })
        
    //     db.close();        
    // }

    // main()

    // async function first(){

    //   console.log('first called')

    //   let value = await new Promise((resolve,reject)=>{
    //       setTimeout(()=>{
    //         resolve('first')
    //     },5000)
    //   }); 
      
    //   console.log('value ',value)

    //   let x = await new Promise((resolve,reject)=>{
    //       setTimeout(()=>{
    //         resolve('second')
    //     },2000)
    //   }); 

    //   console.log('value ',x)

    // }

    // first()

    // console.log('first finish')

  </script>

</html>




