<div class="header">
    <div id="menuClicked"  onclick="menuClicked()" class="header-menu">
        <img id="imgMenu" src=""/>
    </div>
    <div class="header-content">
        <div class="left_content" id="page_title">
            
        </div>
        <div class="right_content flex-row" style="width:100px;justify-content: space-between">
            <div  class="flex-row" style="width:40%;justify-content: space-between">
                <img id='imgBack'src=""/>
                <img id='imgForward' src=""/>
            </div>
            <div>
                <a href="./settings/settings.html">
                    <img src='../assets/img/settings_icon.png'/>
                </a>
            </div>
        </div>
    </div>
</div>
