<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../loadCSS.js"></script>
    <script>
        window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js')
    </script>
    <style>
    </style>
  </head>  
  <body  class="body_light">       
    <div class='headerDiv' w3-include-html="header.html"></div>
    <div id="content">
        <div class="flex-row margin-40">
            <div class="parent-div">
                <section>
                    <div class="section-body">
                        <div class="flex-row" style="justify-content: space-between">
                            <div class="big_header">
                                Get Started
                            </div>
                            <a href="storeDetails.html">
                                <button class="btnBlue" id="nextBtn" style="padding: 10px 65px;" >
                                    Next
                                </button>
                            </a>
                        </div>
                        <div class="flex-column ">
                            <h2 class="margin-40 text_24_500_212b36">
                                👋 Welcome to Infinity!
                            </h2>
                             <p class="flex-column text_24_500_212b36">
                                 <!-- <div class="text_24_500_212b36"> -->
                                     You will go through two more steps to view dashboard :
                                 <!-- </div> -->
                                <span class="margin-20 text_24_500_212b36">
                                    1. You will see your store details.
                                </span>
                                <span class="margin-20 text_24_500_212b36">
                                    2. You will have to set your location details.
                                </span>     
                             </p>
                        </div>
                    <div><!--end .section-body -->
                </section>       
            </div>        
        </div>
    </div>
    <script type="text/javascript" src="runQuery.js"></script>
    <script>
        $(async()=>{
            await getMenu('Get Started')
            await backNavigation()
        })
        
        backNavigation=()=>{
            $('#imgBack').css('opacity',0.5)
            $('#imgForward').css('opacity',0.5)
            $('#imgMenu').css('display','none')
            $('#imgBell').css('display','none')
        }
    </script>

    <!-- <script type="text/javascript" src="../loadJS.js"></script> -->
    <script type="text/javascript" src="../helpers.js"></script>
  </body> 

</html>





