<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../loadCSS.js"></script>
    <script>
      window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js');
    </script>
    <style>
      .pContent{
        border-bottom: solid 0.7px #a5cfcf;
        padding: 10px 0;
      }
    </style>
  </head>  
  <body  class="body_light">       
    <div class='headerDiv' w3-include-html="header.html"></div>
    <div id="content">
        <div class="flex-row margin-40">
            <div class="parent-div">
                <section>
                    <div class="section-body">
                        <div class="flex-row" style="justify-content: space-between">
                            <div class="big_header">
                              Store Details
                            </div>
                            <a href="locationDetails.html">
                              <button class="btnBlue" style="padding: 10px 65px">
                                Next
                              </button>
                            </a>
                        </div>
                        <div class="flex-row">
                            <h2 class="margin-40 text_24_500_212b36">
                                Here are your store details
                            </h2>
                        </div>
                        <div class="flex-column">
                          <div class="row">
                            <div class="col-md-5" style="padding-right: 30px" >
                              <div class="flex-row ">
                                <img  src="../assets/img/home_icon.png" />
                                <span class="text_20_500_1766a6" style="padding-left: 20px">
                                  Store Information
                                </span>
                              </div>
                              <div class="pContent flex-column">
                                <span class="text_16_500_6b7783 margin-20">
                                    Sub Stockist Store Name
                                </span>
                                <span id="storeName" class="text_18_500_212b36"></span>
                              </div>
                              <div class="pContent flex-column">
                                <span  class="text_16_500_6b7783 margin-20">
                                    Registered Phone Number
                                </span>
                                <span class="text_18_500_212b36" id="phoneNumber">
                                </span>
                              </div>
                               <div class="pContent flex-column">
                                <span class="text_16_500_6b7783 margin-20">
                                    HUL Code
                                </span>
                                <span id="hulCode" class="text_18_500_212b36">
                                </span>
                                </div>
                              <div class="pContent flex-column">
                                <span class="text_16_500_6b7783 margin-20">
                                    Creation Date
                                </span>
                                <span class="text_18_500_212b36">
                                </span>
                              </div>
                            </div>
                            <div class="col-md-5" style="padding-left: 30px">
                              <div  class="flex-row">
                                <img  src="../assets/img/home_icon.png" />
                                <span class="text_20_500_1766a6" style="padding-left: 20px">
                                  Address Information
                                </span>
                              </div>
                              <div class="pContent flex-column">
                                <span class="text_16_500_6b7783 margin-20">
                                    Address Line 1*
                                </span>
                                <span id="storeAddress1" class="text_18_500_212b36"> 
                                </span>
                              </div>
                              <div class="pContent flex-column">
                                  <span class="text_16_500_6b7783 margin-20">
                                      Address Line 2
                                  </span>
                                  <span id="storeAddress2"class="text_18_500_212b36">
                                  </span>
                                </div>
                              <div class="pContent flex-column">
                                  <span class="text_16_500_6b7783 margin-20">
                                      Zip/Postal Code
                                  </span>
                                  <span class="text_18_500_212b36" id="storeAddressPin">
                                  </span>
                              </div>
                              <div class="pContent flex-row" style="justify-content: space-between">
                                <div class="flex-column">
                                  <span class="text_16_500_6b7783 margin-20">
                                    City
                                  </span>
                                  <span class="text_18_500_212b36" id="storeAddressCity">
                                  </span>
                                </div>
                                <div class="flex-column">
                                  <span class="text_16_500_6b7783 margin-20">
                                    State
                                  </span>
                                  <span class="text_18_500_212b36" id="storeAddressState"> 
                                  </span>
                                </div>
                                <div class="flex-column">
                                  <span class="text_16_500_6b7783 margin-20">
                                    Country
                                  </span>
                                  <span  class="text_18_500_212b36" id="storeAddressCountry">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-offset-2">
                            </div>
                          </div>
                        </div>
                    <div><!--end .section-body -->
                </section>       
            </div>        
        </div>
    </div>
    
    <script type="text/javascript">
        var store = JSON.parse(localStorage.getItem('loginResponse'));
        var phoneNumber = localStorage.getItem('phoneNumber');
        var storeID = store.storeList[0].storeID;
        
        $(async()=>{
          await getMenu('Store Details')
          await backNavigation()
        })

        backNavigation=()=>{
          $('#imgBack').css({'opacity':1 , 'cursor' : 'pointer'}).click(()=>{
            window.location.href="getStarted.html"
          })
          $('#imgForward').css('opacity',0.5)
          $('#imgMenu').css('display','none')
          $('#imgBell').css('display','none')
        }

        $('#storeName').text(store.storeList[0].storeName)
        $('#storeAddress1').text(store.storeList[0].outletAddLine1)
        $('#storeAddress2').text(store.storeList[0].outletAddLine2)
        $('#phoneNumber').text(phoneNumber)
        $('#storeAddressPin').text(store.storeList[0].outletAddPincode)
        $('#storeAddressCity').text(store.storeList[0].outletAddCity)
        $('#storeAddressCountry').text(store.storeList[0].outletAddCountry)
        $('#storeAddressState').text(store.storeList[0].outletAddSate)
        $('#hulCode').text(store.storeList[0].storeGUID)

    </script>

 <script type="text/javascript" src="../loadJS.js"></script>
    <script type="text/javascript" src="../helpers.js"></script>
  </body> 

</html>











