<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../../loadCSS.js"></script>
    <!-- <script type="text/javascript" src="../../helpers/apiCall.js"></script> -->

    <script type="text/javascript">
      window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.min.js');
      require('../../assets/js/moment.min.js')
      const {dialog} = require('electron').remote;
      require('../../assets/js/libs/DataTables/jquery.dataTables.min.js')
      require('../../assets/js/libs/bootstrap-table/dist/bootstrap-table.min.js')
      require('../../assets/js/libs/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js')
      require('../../assets/js/libs/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js')
      const UI = require('../../jobs/unipayData.js');
      const apiCall = require('../../helpers/apiCall.js');

    </script>
    <script src="../../dist/bundle.js"></script>

    <link type="text/css" rel="stylesheet" href="../../assets/css/theme-default/libs/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link type="text/css" rel="stylesheet" href="../../assets/css/theme-default/libs/select2/select2.css" />
    
    <script src="../../assets/js/libs/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="../../assets/js/libs/select2/select2.min.js"></script>
			
    <style type="text/css"> 

    div.bootstrap-table {
			border-radius: 4px;
			background:#fff;
		}
    
    .rowStyle{
      background-color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      color: #565656;
      border-bottom: solid 2px #dcdcdc;
    }
    
    input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}



			.dateClass{
				box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
			}

			.placeholderclass::before {
				width: 100%;
				content: attr(placeholder);
			}

			/* .placeholderclass:hover::before {
				width: 0%;
				content: "";
      } */

			.calender_icon{
				position: absolute;
				right: 12px;
				bottom: 12px;
				width: 14px;
				opacity: .7;
			}
			input[type="date"]::-webkit-calendar-picker-indicator {
				background: transparent;
				bottom: 0;
				color: transparent;
				cursor: pointer;
				height: auto;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				margin: 0;
			}
			input::-webkit-clear-button {
				-webkit-appearance: none;
				margin: 0;
      }

      .selectBtn{
			-webkit-appearance: none ;
			-moz-appearance: none ; 
			background: transparent ;
			background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
			background-repeat: no-repeat ;
			background-position-x: 98% ;
			background-position-y:10px ;
			padding-right: 3rem ;
			box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05) ;
			border-radius: 4px ;
			border: solid 1px #acb3ba;
			padding-top: 0;
			height: 40px;
			display: flex;
			align-items: center
		}
		.select2-arrow{
			display: none !important;
		}
		.select2-chosen{
			font-family: sans-serif;
			font-size: 14px;
			font-weight: 500;
			color: #6b7783;
		}
		.select2-choice{
			width: 100%;
		}
      
    </style>
  </head>  

  <body  style="background: #eff1f3;" onload="">       

    <div class='headerDiv' w3-include-html="../header.html"></div>
   
    <div id="base">
      <div id="sidebar" w3-include-html="../sidebar.html"></div>
      <div id="content">
          <!--Success Modal -->
          <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog customModal" style="display:flex; justify-content:center">
              <div class="modal-content" style="padding: 5%;border-radius: 8px;">
                <div class="flex-row" style="justify-content: center;margin-top: 20px;margin-bottom: 10px">
                  <img src = "../../assets/img/sucess-icon.png">
                </div>
                <div class="flex-column" style="align-items: center;">
                  <span class="text_20_500_212b36"><span id="successTag"></span> Successful</span>
                  <span class="text_14_500_6b7783">
                    <span class="fileName"></span> has been <span id="successTagl"></span> successfully
                  </span>
                  <span class="margin-10 text_14_500_1766a6" id="fileLocation">
                  </span>
                </div>
                <div class="flex-row" style="justify-content: center;margin-bottom: 20px">
                  <button class="btnWhite" onclick="closeModal('successModal')">Close</button>
                </div>
              </div>
  
            </div>
          </div>
          <!--END of Success Modal -->
          <div id="orderModal" class="modal fade" role="dialog">
              <div class="modal-dialog customModalSize1" style="margin-top: 10%;">
                <div class="modal-content">
                  <div class="flex-column" style="width:70%;margin: auto ">			
                    <div class="flex-row" style="justify-content: center;margin-top: 20px;margin-bottom: 10px">
                      <img src = "../../assets/img/sucess-icon.png">
                    </div>
      
                    <div class="flex-column margin-10" style="align-items: center;">
                      <span class="text_20_500_212b36" style="text-align: center;">Congratulations! You have redeemed </span>
                      <div class="flex-row">
                          <span class="text_20_500_212b36" id="unipayRedeemed"></span><span class="text_20_500_212b36">&nbsp;Ushop Points</span>
                      </div>
                    </div>
      
                    <div class="flex-row margin-20" style="justify-content: center">
                      <a href="main.html"><button class="btnWhite">Close</button></a>
                    </div>
                  </div>
                </div>

              </div>
          </div>
        
          <section id="main-section">
                  <div style="margin-top: 30px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                   
                    <a class="flex-row" href="../dashboard.html">
                      <img src="../../assets/img/back_icon.png"  style='width:6px;height:12xpx;margin-right:8px'/>
                      <span class="text_15_500_637831"> Ushop Points</span>
                    </a>
                    
<!--                     
                    <div style="display: flex; flex-direction: row; align-items: center; ">
                      <span onclick="goBack()" style="cursor: pointer;"><img src="../../assets/img/back_icon.png"  style='width:8px;height:16px;'/></span> 
                      <span class="text_24_500_212b36">&nbsp; Unipay Points</span>
                    </div> -->
                  </div>
                  
                  <div style="margin-top: 20px; display:flex; flex-direction:row;">
                      <div class="unipay-card-blue"  style="flex-direction:row; width: 30%">
                        
                          <div style="display: flex; flex-direction: column; flex:1;">
                            <span class="text_14_500_fff">Ushop Points</span>
                            <span class="text_20_500_fff" id="totalPoints"></span>
                          </div>

                          <div style="display: flex; flex-direction: column; flex:1; justify-content: center;">
                            <div style="display: flex; flex-direction: row; justify-content: center; background: #fff; ;border-radius: 16px; cursor: pointer;" onclick="redeem()">
                                <span class="text_20_500_1766a6">Redeem</span>
                            </div>
                          </div>
                            
                      </div>
                      <div style="width: 70%" class="flex-row">
                        <div class="unipay-card-blue" style="margin-left: 16px;">
                            <span class="text_14_500_fff">Ushop On Hold</span>
                            <span class="text_20_500_fff" id="unipayHoldPoints"></span>
                        </div>
                        <div class="unipay-card" style="margin-left: 16px;">
                          <span class="text_14_500_6b7783">Total Settled Points</span>
                          <span class="text_20_500_1766a6" id="settledPoints"></span>
                        </div>
                        <div class="unipay-card" style="margin-left: 16px;">
                            <span class="text_14_500_6b7783">Total Active Debits</span>
                            <span class="text_20_500_1766a6" id="debitPoints"></span>
                        </div>
                        <div class="unipay-card" style="margin-left: 16px;">
                            <span class="text_14_500_6b7783">Total Active Credits</span>
                            <span class="text_20_500_1766a6" id="creditPoints"></span>
                        </div>
                      </div>
                  </div>
                    
                  <div class="flex-row margin-20 width-100" style="justify-content: space-between" >

                    <!-- <div style="display: flex; flex-direction: column;">
                      <span class="text_16_bold_212b36">Date Range</span>
                      <div style="display: flex; flex-direction: row; align-items: center;">
                        <div>
                            <input class="inputStyleSS" type="date" data-date-format='yy-mm-dd' id="fromDate" />
                        </div>
                        
                        <span class="text_18_500_212b36" style="margin-left:10px; margin-right:10px">
                            to
                        </span>
                        
                        <div>
                            <input  class="inputStyleSS"  type="date" data-date-format='yy-mm-dd'  id="toDate" />
                        </div>
                      </div>
                    </div> -->
                    <div class="flex-row" style="width:60%" >
                      <div style="position:relative;" class="flex-row" >
                        <input
                          type="date"
                          placeholder="Start Date"
                          onclick="$(this).removeClass('placeholderclass')"
                          onblur="$(this).val()=='' && $(this).addClass('placeholderclass')"
                          class="dateClass placeholderclass inputStyleSS"
                          data-date-format='yy-mm-dd'
                          id="fromDate"
                        >
                        <img class="calender_icon" src="../../assets/img/calendar_icon.png" />
                      </div>
                      <div style="position:relative; margin-left: 18px" >
                        <input
                          type="date"
                          placeholder="End Date"
                          onclick="$(this).removeClass('placeholderclass')"
                          onblur="$(this).val()=='' && $(this).addClass('placeholderclass')"
                          class="dateClass placeholderclass inputStyleSS"
                          data-date-format='yy-mm-dd'
                          id="toDate"
                        >
                        <img class="calender_icon" src="../../assets/img/calendar_icon.png" />
                      </div>
                      <div style="width:100%;position:relative;margin-left: 18px;margin-top: 12px;background:#fff;">
                          <select id="transactionType" style="width:100%"  class="select2 selectBtn">
                            <option>Select Transaction Type</option>
                            <option value="ALL">All</option>
                            <option value="EARNED">Earned</option>
                            <option value="READJUSTED">Readjusted</option>
                            <option value="REDEEMED">Redeemed</option>
                            <option value="SETTLED">Settled</option>
                          </select>
                      </div>
                      <div style="position:relative;margin-left: 18px">
                        <button class="btnBlue" style="padding: 4px 20px; height: 40px;" onclick="search()">Search</button>
                      </div>                      
                    </div>
                    <div class="flex-row">
                      <button class="btn btn-md-secondary btnBlue flex-row"  onclick="triggerPrintPdf()" ><img  src="../../assets/img/download.png" style="padding: 0px 12px 5px 0">Download</button>
                      <button class="btn btn-md-secondary btnBlue flex-row"  onclick="triggerPrintPdf('print')" style="margin-left: 10px"><img  src="../../assets/img/print.png" style="padding: 0px 12px 5px 0">Print</button>
                    </div>
                </div>

                  
                  
                  <div style="margin-top: 20px;">
                      <table class="table bulk_action dataTable no-footer" data-maintain-selected="true" data-row-style="rowStyle" id="unipayTable">
                        <thead>
                            <tr>
                                <th data-field = "transactionID" data-sortable = "true">Transaction ID</th>
                                <th data-field = "transactionStatus" data-sortable = "true">Transaction Status</th> 
                                <th data-field="firstName" data-sortable = "true">Store Name</th>
                                <th data-formatter="renderTime" data-sortable = "true">Creation Time</th>
                                <th data-field = "transactionType" data-formatter = "true">Transaction Type</th>
                                <th data-formatter="amount" data-sortable = "true">Points</th>
                                <!-- <th data-field = "balance" data-sortable = "true">Balance</th> -->
                            </tr>
                        </thead>
                      </table>
                  </div>

          </section>     
          
          <section id="points-section" style="display: none;">
              
              <div class="margin-20">
                  <div class="flex-row" style="cursor: pointer;" onclick="transactions()">
                      <img src="../../assets/img/back_icon.png" style='width:6px;height:12xpx;margin-right:8px'/>
                      <a><span class="text_15_500_637831"> Ushop Points</span></a>
                    </div>
                  <div class="flex-row" style="margin-top:40px;">
                      <div class="unipay-card-blue">
                          <span class="text_16_500_fff">Available Ushop Points</span>
                          <span class="text_24_500_fff" id="availablePoints"></span>
                      </div>
                      <div class="unipay-card-blue" style="margin-left: 10px;">
                          <span class="text_16_500_fff">Ushop On Hold</span>
                          <span class="text_24_500_fff" id="unipayHoldPointsTwo"></span>
                      </div>
                      <div class="unipay-card" style="margin-left: 10px;">
                          <span class="text_16_500_212b36">Total Settled Points</span>
                          <span class="text_24_500_212b36" id="settledPointsTwo"></span>
                      </div>
                      <div class="unipay-card" style="margin-left: 10px;">
                          <span class="text_16_500_212b36">Total Active Debit</span>
                          <span class="text_24_500_212b36" id="debit"></span>
                      </div>
                      <div class="unipay-card" style="margin-left: 10px;">
                          <span class="text_16_500_212b36">Total Active Credit</span>
                          <span class="text_24_500_212b36" id="credit"></span>
                      </div>
                  </div>
          
                  <div style="margin-top: 20px;">
                      <div class="unipay-card" style="padding-left:24px; padding-right:24px;">

                          <span class="text_24_500_acb3ba">Step 1</span>

                          <div class="flex-row" style="justify-content: space-between;">
                              <span class="text_20_500_212b36" id="stepOneMsg">Enter Points to Redeem</span>
                              <img id="cancelOne" style="display: none;" src="../../assets/img/cancel_icon.png"/>
                              <img id="successOne" style="display: none;" src="../../assets/img/checked_icon.png"/>
                          </div>

                          <div class="flex-row" id="stepOneInputDiv">
                              <input style="height:40px; width:50%;" min="0" type="number" id="redeemedPoints" onkeypress="return event.charCode >= 48" placeholder="Enter Points" class="inputStyleSS"/>
                              <button style="margin-left: 10px;" class="btnBlue" onclick="stepOne()">Next</button>
                          </div>
                          
                          <span class="text_24_500_1766a6" id="stepOnePointsValue" style="display: none;"></span>
                          
                          <div style="margin-top: 8px;">
                              <span class="text_14_500_de4a49" id="stepOneError"></span>
                          </div>

                      </div>
                  </div>
          
                  <div style="margin-top: 20px; display: none;" id="stepTwo">
                      <div class="unipay-card" style="padding-left:24px; padding-right:24px;">

                          <span class="text_24_500_acb3ba">Step 2</span>

                          <div class="flex-row" style="justify-content: space-between;">
                              <span class="text_20_500_212b36" id="stepTwoMsg">Enter One Time Password</span>
                              <img id="cancelTwo" style="display: none;" src="../../assets/img/cancel_icon.png"/>
                              <img id="successTwo" style="display: none;" src="../../assets/img/checked_icon.png"/>
                          </div>

                          <div class="flex-row" id="stepTwoInputDiv">
                              <input style="height:40px; width:50%;" type="number" id="otp" onkeypress="return event.charCode >= 48" placeholder="Enter One Time Password" class="inputStyleSS"/>
                              <button style="margin-left: 10px;display: block;" id="verify" class="btnBlue" onclick="verify()">Verify</button>
                          </div>
                          <span class="text_24_500_1766a6" id="stepTwoPointsValue" style="display: none;"></span>
                          <div style="margin-top: 8px;">
                              <span class="text_14_500_1766a6" id="nextMsg"></span>
                              <div style="display: flex; flex-direction: row;">
                                <span class="text_14_500_de4a49" id="stepTwoError"></span>
                                <span class="text_14_700_1766a6" style="margin-left: 10px; cursor: pointer; display: none; text-decoration: underline;" onclick="resend()" id="resend">Resend</span>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>

          </section>

      </div>

    </div>
    
    <!-- <script type="text/javascript" src="../../loadJS.js"></script> -->
    <script type="text/javascript" src="../../helpers.js"></script>
    <script type="text/javascript">        
      
      const os = process.env.os;
      var basepath = process.env.basepath;
      let dbPath = basepath
      if (dbPath.indexOf('app.asar') > -1 || os === 'WINDOWS') {
          dbPath = dbPath.replace('app.asar', '')
      }
      dbPath += '/ssDB';


      const sqlite3 = require('sqlite3').verbose();
      const db = new sqlite3.Database(dbPath);

      var unipayResponse,redeem,orderId,unipay;
      var basePath = process.env.basepath;

      $(async ()=>{
            await getMenu('Ushop Points')
            await backNavigation()

            $('.select2').select2();

            const unipayAPITransactionsPromised = require(basePath+'/jobs/unipayAPITransactionsPromised.js');
            await unipayAPITransactionsPromised.unipayAPITransactions();
            console.log('main')

            unipay = JSON.parse(localStorage.getItem('unipay'));
            console.log(unipay)
            $('#totalPoints').text(unipay.unipayBalance + ' Points');
            $('#unipayHoldPoints').text(unipay.unipayHoldPoints + ' Points');
            $('#settledPoints').text(unipay.totalReedemPoint);
            $('#debitPoints').text(unipay.totalActiveDebit);
            $('#creditPoints').text(unipay.totalActiveCredit);

            db.all('Select * from unipayLedger ORDER BY creationtimelocal DESC',function(error,rows){

                if(error){
                  console.log(error)
                }
                else{
                  // console.log(rows)
                  unipayData = rows;
                }

                $('#unipayTable').bootstrapTable('destroy')
                $('#unipayTable').bootstrapTable(
                  {
                    data:unipayData,
                    search:true,
                    reinit: true,
                        trimOnSearch:false,
                        pagination:true
                  }
                );
                $('.customInputSearch').css({"margin":"0","border-radius": "4px 0 0 4px"}).after('<button id="searchDiv" class="flex-row"><img src="../../assets/img/search_icon_white.png"</button>');
                $('.customInputSearchDiv').addClass('flex-row margin-10')

            })
      })

      backNavigation=()=>{
        $('#imgForward').css('opacity',0.5)
        $('#imgBack').css({'opacity':1 , 'cursor' : 'pointer'}).click(()=>{
            window.location.href="../dashboard.html"
        })
      }

      // $('.select2').select2();
      $("#orderModal").on("hidden.bs.modal", function () {
        
          window.location.href= "main.html"
      });
      

      Date.prototype.toDateInputValue = (function() {
          var local = new Date(this);
          local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
          return local.toJSON().slice(0,10);
      });

      let currDate = new Date().toDateInputValue()

      $('#fromDate').val(currDate);
      $('#toDate').val(currDate);

      var unipayData;

      function search(){

        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();
        var transactionType = $('#transactionType').val();
        var temp;

        console.log(fromDate + '  ' + toDate)
        console.log(transactionType)

        if(transactionType == 'Select Transaction Type')
        {

          var message = 'Please select a transaction type.';
          isError(message);
          return false;
        }

        if(fromDate>toDate){

            $('#fromDate').val(new Date().toDateInputValue());
            $('#toDate').val(new Date().toDateInputValue());

            var message ='Please select valid interval.'
            isError(message);
            return false;
        }        

        if(transactionType == 'ALL'){

          db.all(`Select * from unipayLedger WHERE DATE(creationtimelocal) BETWEEN '${fromDate}' AND '${toDate}' ORDER BY creationtimelocal DESC`,function(err,rows){
             
            if(err){
              console.log(err)
              return false;
            }
            temp = rows;      
            console.log(temp)

            $('#unipayTable').bootstrapTable('destroy')
            $('#unipayTable').bootstrapTable({            
              data:temp,
              search:true,
              reinit: true,
              trimOnSearch:false,
              pagination:true
            });   
            $('.customInputSearch').css({"margin":"0","border-radius": "4px 0 0 4px"}).after('<button id="searchDiv" class="flex-row"><img src="../../assets/img/search_icon_white.png"</button>');
            $('.customInputSearchDiv').addClass('flex-row margin-10')
          })

        }

        else{

          db.all(`Select * from unipayLedger WHERE transactionType = '${transactionType}' AND DATE(creationtimelocal) BETWEEN '${fromDate}' AND '${toDate}' ORDER BY creationtimelocal DESC`,function(err,rows){
        
            if(err){
              console.log(err)
              return false;
            }
            temp = rows;      
            console.log(temp)

            $('#unipayTable').bootstrapTable('destroy')
            $('#unipayTable').bootstrapTable({            
              data:temp,
              search:true,
              reinit: true,
              trimOnSearch:false,
              pagination:true
            }); 
            $('.customInputSearch').css({"margin":"0","border-radius": "4px 0 0 4px"}).after('<button id="searchDiv" class="flex-row"><img src="../../assets/img/search_icon_white.png"</button>');
            $('.customInputSearchDiv').addClass('flex-row margin-10')
          })

        }         

      }
      
      function goBack(){

        window.location.href = '../dashboard.html'
      }

      async function redeem(){

        $('#main-section').css('display','none');
        $('#points-section').css('display','block');

        // var pointsResponse =  await UI.pointsResponse();
        // console.log(unipayResponse);
        // var availablePoints = unipayResponse.pointsEarned + unipayResponse.pointsRedeemed - unipayResponse.pointsReadjusted;

        $('#availablePoints').text(unipay.unipayBalance + ' Points')
        $('#unipayHoldPointsTwo').text(unipay.unipayHoldPoints + ' Points')
        $('#settledPointsTwo').text(unipay.totalReedemPoint)
        $('#debit').text(unipay.totalActiveDebit)
        $('#credit').text(unipay.totalActiveCredit)
       
      }

      function stepOne(){

        // $('#unipayRedeemed').text(20);
        // $('#orderModal').modal('show');
        // return false;

        $('#stepOneError').text('');
        $('#cancelOne').css('display','none');
        $('#successOne').css('display','none');
        $('#stepOneInputDiv').css('display','flex');
        $('#stepOnePointsValue').css('display','none');


        redeem = $('#redeemedPoints').val();
        
        console.log(redeem)

        if(redeem < 10){

          let error = 'You have to redeem atleast 10 points';
          
          $('#cancelOne').css('display','block');
          $('#stepOneError').text(error);
          return false;
        }

        // var availablePoints = unipayResponse.pointsEarned + unipayResponse.pointsRedeemed - unipayResponse.pointsReadjusted;

        if(redeem > unipay.unipayBalance){

          let error = 'You have exceeded the available balance';
          
          $('#cancelOne').css('display','block');
          $('#stepOneError').text(error);
          return false;

        }
        else{

          var data = JSON.parse(localStorage.getItem('loginResponse')); 
          var number = localStorage.getItem('phoneNumber');

          var req = {
            ssMobileNo:number,
            unipayPoints:redeem,
            storeID:data.storeList[0].storeID,
            ssCode:data.storeList[0].storeGUID
          }

          console.log(req)
          apiCall.postByChain('unipaySSRedeemOtp',req)
          .then((res)=>{
            console.log(res)
            if(res.data.data.status == 'SUCCESS'){

              orderId = res.data.data.sourceRefId;
              let msg = 'Points to Redeem';
              let stepTwoMsg = 'An OTP has been sent to your mobile number - ';
              
              $('#stepOneMsg').text(msg);
              $('#successOne').css('display','block');
              $('#stepOneInputDiv').css('display','none');
              $('#stepOnePointsValue').text(redeem);
              $('#stepOnePointsValue').css('display','block');
              $('#stepTwo').css('display','block');
              $('#nextMsg').text(stepTwoMsg)

            }
            else{
              let error = res.data.msg;
          
              $('#cancelOne').css('display','block');
              $('#stepOneError').text(error);
              return false;
            }
          })
          .catch((error)=>{
            console.log(error.response.data);
          })
        }

      }

      async function verify(){

        $('#successTwo').css('display','none');
        $('#cancelTwo').css('display','none');
        $('#nextMsg').text('');
        $('#resend').css('display','none')

        var data = JSON.parse(localStorage.getItem('loginResponse')); 
        var number = localStorage.getItem('phoneNumber');
        var otp = $('#otp').val();

        var req = {
            ssMobileNo:number,
            unipayPoints:redeem,
            storeID:data.storeList[0].storeID,
            ssCode:data.storeList[0].storeGUID,
            otp:otp,
            orderId,
            narration:'TEST REDEEM'
        }

        console.log(req)

        apiCall.postByChain('unipaySSRedeem',req)
        .then((res)=>{
          console.log(res)
          if(res.data.data.status == 'SUCCESS'){

            let msg = 'One Time Password';

            $('#stepTwoMsg').text(msg);
            $('#successTwo').css('display','block');
            $('#stepTwoInputDiv').css('display','none');
            $('#stepTwoPointsValue').text(otp);
            $('#stepTwoPointsValue').css('display','block');
            $('#stepTwoError').css('display','none');            
            $('#unipayRedeemed').text(redeem);
            $('#orderModal').modal('show');
          }
          else{

            let stepTwoErrorMsg = 'You have entered the wrong OTP';

            $('#cancelTwo').css('display','block');
            $('#stepTwoError').text(stepTwoErrorMsg);
            $('#stepTwoError').css('display','block');
            $('#resend').css('display','block')
          }
        })
        .catch((error)=>{
          console.log(error)
        })


        // if(otp == 100){

        //   let msg = 'One Time Password';

        //   $('#stepTwoMsg').text(msg);
        //   $('#successTwo').css('display','block');
        //   $('#stepTwoInputDiv').css('display','none');
        //   $('#stepTwoPointsValue').text(otp);
        //   $('#stepTwoPointsValue').css('display','block');
        //   $('#stepTwoError').css('display','none');

        //   $('#orderModal').modal('show');
        // }
        // else{
        
        //   let stepTwoErrorMsg = 'You have entered the wrong OTP';

        //   $('#cancelTwo').css('display','block');
        //   $('#stepTwoError').text(stepTwoErrorMsg);
        //   $('#stepTwoError').css('display','block');
        //   $('#resend').css('display','block')
        // }

      }
      
      function transactions(){
        
        $('#points-section').css('display','none');
        $('#main-section').css('display','block');
      }

      function resend(){

        var data = JSON.parse(localStorage.getItem('loginResponse')); 
        var number = localStorage.getItem('phoneNumber');

        var req = {
          ssMobileNo:number,
          unipayPoints:redeem,
          storeID:data.storeList[0].storeID,
          ssCode:data.storeList[0].storeGUID
        }

        console.log(req)
        apiCall.postByChain('unipaySSRedeemOtp',req)
        .then((res)=>{

            console.log(res);

            if(res.data.data.status == 'SUCCESS'){

              orderId = res.data.data.sourceRefId;
            }

          })
          .catch((error)=>{
            console.log(error);
          })
      }

      function renderTime(value,row){

        var date = row.creationTimeLocal.split(' ');
        // console.log(date)

        var utc = new Date(date[0]).toUTCString();
        utc = utc.substr(0,utc.length - 12)
        utc = utc + date[1];
        // console.log(utc)  
        return utc;
      }

      function amount(value,row){

        var x = row.amount;

        if(x<0){
          return (-1 * x);
        }
        else{
          return x;
        }
      }

    triggerPrintPdf = async(action) => {
      var currentTimestamp = moment().format("YYYYMMDDHHmmss")
      var table1columns = [
          {title: "#", dataKey: "SNo"},
          {title: "Transaction ID", dataKey: "transactionID"}, 
          {title: "Outlet Name", dataKey: "firstName"},
          {title: "Transaction Status", dataKey: "transactionStatus"},
          {title: "Creation Time", dataKey: "stringTime"},
          {title: "Transaction Type", dataKey: "transactionType"},
          {title: "Points", dataKey: "amount"},
      ];

      unipayData.map((m,i)=>{
        var date = m.creationTimeLocal.split(' ');
            var utc = new Date(date[0]).toUTCString();
            utc = utc.substr(0,utc.length - 12)
            utc = utc + date[1]; 
            m['stringTime'] = utc;
            m['SNo'] = i+1
            if(m.transactionType == 'REDEEMED'){
              m['amount'] = (-1 * m.amount)
            }
            return m;
      })

      console.log(unipayData,'unipayData')
      
      var columnsObj ={
          table1columns,
      }

      var tableData = unipayData

      var docInfo = {
          'action' : action,
          'title' : 'Unishop Ledger',
          'storeInfoShown' :true,
          'taxShown': false,
          'fileName' : `unipayLedger_${currentTimestamp}.pdf`
      }
  
      printPdf(columnsObj,tableData,docInfo) 
    };

    closeModal=()=>{
        $(`#successModal`).modal('hide');
    }

    </script>
  
  </body> 

</html>





