<!DOCTYPE html>
<html lang="en">
    <head>

        <script type="text/javascript" src="../../loadCSS.js"></script>
        <script type="text/javascript" src="../../helpers/apiCall.js"></script>

        <script>
            window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.min.js');
            require('../../assets/js/libs/bootstrap-table/dist/bootstrap-table.min.js')
            require('../../assets/js/libs/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js')
            require('../../assets/js/libs/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js')
            require('../../assets/js/moment.min.js')
        </script>
        <script src="../../dist/bundle.js"></script>
        <style type="text/css">
        
        div.bootstrap-table {
			border-radius: 4px;
            background:transparent;
            padding-top:0px;
		}

		.fixed-table-toolbar .search{
            background-color:transparent;
		}

		.fixed-table-container{
			padding-top:0px;
		}

		.fixed-table-toolbar{
            background-color:transparent;
            margin-bottom:0px;
        }

        .fixed-table-loading{
		    display: none;
        }
    
        .fixed-table-toolbar{
            display: none;
        }
        
        .bootstrap-table .table thead > tr > th {
                background: #f7f7f7;
				border:none;
				font-size: 14px;
				font-weight: bold;
				color: #171717;
        }

		.rowStyle{
			background-color: #ffffff;
			font-size: 14px;
			font-weight: 500;
			color: #565656;
        }

        .tableRowStyle{
            background-color: #f7f7f7;
			font-size: 14px;
			font-weight: 500;
            color: #565656;
            padding:0px 20px;
            border-bottom: solid 1px #979797;
        }
        
        #content{
            width: calc(85% - 40px);
            position: relative;
            right: 0;
            margin: 0 auto ;
        }

        html, body{
            height: 100%;
        }

        .viewCard{
            width: 104px;
            height: 32px;
            border-radius: 24px;
            background-color: #1766a6;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.25;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .inventoryText{
            font-weight: bold;
        }

		</style>

    </head>
    <body class="menubar-hoverable header-fixed menubar-pin menubar-first">

        <div class='headerDiv' w3-include-html="../header.html"></div>

        <div id="base" style="height:100%">
            <div id="sidebar" w3-include-html="../sidebar.html"></div>

            <div id="content">                

                <div id="resetAppModal" class="modal fade" role="dialog">
                    <div class="modal-dialog customModalSize1" style="margin-top: 10%; width: 400px;">
                        <div class="modal-content" style="width: 400px; border-radius: 4px;">
                            <div class="flex-column" style="padding:20px;align-items: center;">
                                <img src="../../assets/img/logout_icon.png" />
                                <span class="text_16_500_212b36">Are you sure you want to reset the app?</span>
                                <div class="flex-row">
                                    <button class="longBtnWhite" data-target="resetAppModal" onclick="closeModal(this)">No</button>
                                    <button style="margin-left: 10px;" class="longBtnBlue" onclick="resetApp()">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="logoutModal" class="modal fade" role="dialog">
                    <div class="modal-dialog customModalSize1" style="margin-top: 10%; width: 400px;">
                        <div class="modal-content" style="width: 400px; border-radius: 4px;">
                            <div class="flex-column" style="padding:20px;align-items: center;">
                                <img src="../../assets/img/logout_icon.png" />
                                <span class="text_16_500_212b36">Are you sure you want to logout?</span>
                                <div class="flex-row">
                                    <button class="longBtnWhite" data-target="logoutModal" onclick="closeModal(this)">No</button>
                                    <button style="margin-left: 10px;" class="longBtnBlue" onclick="logout()">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="syncModal" class="modal fade" role="dialog">
                    <div class="modal-dialog customModalSize1" style="margin-top: 10%; width: 400px;">
                        <div class="modal-content" style="width: 400px; border-radius: 4px;">
                            <div class="flex-column" style="padding:20px;align-items: center;">
                                <img src="../../assets/img/logout_icon.png" />
                                <span class="text_16_500_212b36">Are you sure you want to sync data?</span>
                                <div class="flex-row">
                                    <button class="longBtnWhite" data-target="syncModal" onclick="closeModal(this)">No</button>
                                    <button style="margin-left: 10px;" class="longBtnBlue" onclick="sync()">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="syncOldTransModal" class="modal fade" role="dialog">
                    <div class="modal-dialog customModalSize1" style="margin-top: 10%; width: 400px;">
                        <div class="modal-content" style="width: 400px; border-radius: 4px;">
                            <div class="flex-column" style="padding:20px;align-items: center;">
                                <img src="../../assets/img/logout_icon.png" />
                                <span class="text_16_500_212b36">Are you sure you want to sync old transactions data?</span>
                                <div class="flex-row">
                                    <button class="longBtnWhite" data-target="syncOldTransModal" onclick="closeModal(this)">No</button>
                                    <button style="margin-left: 10px;" data-dismiss="modal" class="longBtnBlue" onclick="syncOldTransData()">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="supportModal" class="modal fade" role="dialog">
                    <div class="modal-dialog customModalSize1" style="margin-top: 10%; width: 400px;">
                        <div class="modal-content" style="width: 400px; border-radius: 4px;">
                            <div class="flex-column" style="padding:20px;align-items: center;">
                                <img src="../../assets/img/support_icon.png" />
                                <span class="text_16_500_212b36" style="text-align: center;">You can call us on the following number 8047103231</span>
                                <div class="flex-row">
                                    <button class="longBtnBlue" data-target="supportModal" onclick="closeModal(this)">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <section id="settings">

                    <div class="section-body"> 

                        <div class="flex-row" style="margin-top:20px; width: fit-content; cursor: pointer;" onclick="goBack()">
                            <span><img src="../../assets/img/back_icon.png"  style='width:8px;height:16px;'/></span>
                            <span style="margin-left: 10px;" class="text_24_500_212b36">Settings</span>
                        </div>                        

                        <div style="margin-top:20px;">
                            <div class="card settingsCardLink">
                                <div class="flex-row">
                                    <img class='inventoryIcon' src="../../assets/img/profile_icon.png">
                                    <span class="inventoryText">Profile</span>
                                </div>
                                <span onclick="gotoProfile()" class="viewCard">View</span>
                            </div>
                            <div class="card settingsCardLink">
                                <div class="flex-row">
                                    <img class='inventoryIcon' src="../../assets/img/syncdata_icon.png">
                                    <span class="inventoryText">Sync Data</span>
                                </div>
                                <div>
                                    <span class="text_14_500_565656">Last Sync At : </span>
                                    <span class="text_14_500_565656" id="date"></span>
                                </div>
                                <span data-target="syncModal" onclick="openModal(this)" class="viewCard">Sync</span>
                            </div>
                             <div class="card settingsCardLink">
                                <div class="flex-row">
                                    <img class='inventoryIcon' src="../../assets/img/syncdata_icon.png">
                                    <span class="inventoryText">Sync Old Transactions</span>
                                </div>
                                <span data-target="syncOldTransModal" id="syncOldTrans" onclick="openModal(this)" class="viewCard">Sync</span>
                            </div>
                            <div class="card settingsCardLink">
                                <div class="flex-row">
                                    <img class='inventoryIcon' src="../../assets/img/support_icon.png">
                                    <span class="inventoryText">Support</span>
                                </div>
                                <span data-target="supportModal" onclick="openModal(this)" class="viewCard">View</a>
                            </div>
                            <div class="card settingsCardLink">
                                <div class="flex-row">
                                    <img class='inventoryIcon' src="../../assets/img/softwareupdate_icon.png">
                                    <span class="inventoryText">Software Update</span>
                                </div>
                                <span class="viewCard">Check</span>
                            </div>
                            <div class="card settingsCardLink">
                                <div class="flex-row">
                                    <img class='inventoryIcon' src="../../assets/img/logout_icon.png">
                                    <span class="inventoryText">Reset App</span>
                                </div>
                                <span data-target="resetAppModal" onclick="openModal(this)" class="viewCard">Reset App<span/>
                            </div>
                            <div class="card settingsCardLink">
                                <div class="flex-row">
                                    <img class='inventoryIcon' src="../../assets/img/logout_icon.png">
                                    <span class="inventoryText">Logout</span>
                                </div>
                                <span data-target="logoutModal" onclick="openModal(this)" class="viewCard">Log out<span/>
                            </div>
                        </div>

                        
                
                    </div>

                </section>

            </div>
                  
        </div>

        <script type="text/javascript" src="../../helpers.js"></script>
        <script type="text/javascript" src="../../loadJS.js"></script>
        <script>

        const { dialog } = require('electron').remote;
        
        var date = localStorage.getItem('lastSyncDate');
        $('#date').text(date);

        $(async()=>{ 
            await getMenu('Settings')
            await backNavigation()  
        })
        
        backNavigation=()=>{
            $('#imgForward').css('opacity',0.5)
            $('#imgBack').css({'opacity':1 , 'cursor' : 'pointer'}).click(()=>{
                window.location.href="../dashboard.html"
            })
        }
                  
        function goBack() {
            window.location.href = '../dashboard.html';
        }

        function gotoProfile() {
            window.location.href = './profile.html';
        }

        function openModal(element) {

            var id = '#' + $(element).data('target');
            console.log(id)

            $(id).modal('show');
        }

        function closeModal(element) {

            var id = '#' + $(element).data('target');
            console.log(id)

            $(id).modal('hide');
        }

        async function logout() {

            // var data = {
            //     userID: userID,
            //     serialNumber: serialNumber
            // }

            // let response = await postWithoutStore('logOut', data)
            // console.log(response)

            // if (response.data.status) {
            //     localStorage.setItem('loggedIn', false);
            //     window.location.href = "../../index.html";
            // }

            localStorage.setItem('loggedIn', false);
            window.location.href = "../../index.html";

        }

        function sync() {

            window.location.href = "../dataSync.html"
        }

        function isUndefined(val) {
            if (typeof(val) == 'undefined') {
                return null;
            } else {
                return val;
            }

        }

        function transactionProducts(products){

            if(products){
                products.forEach(function(obj) {
                    delete obj["reasonList"];
                })
            }
            return products;

        }

        async function syncOldTransData(){
            $("#syncOldTrans").text("Syncing...");
            await syncTransactionsData("ORDER");
            await syncTransactionsData("RETURN");
            await syncTransactionsData("STOCK_TRANSACTION");
            await syncTransactionsData("STOCK_REQUISITION");
            await syncTransactionsData("UPDATE_ORDER");
            $("#syncOldTrans").text("Synced");
        }

        async function syncTransactionsData(requestType) {
                var table;
                let toDate = moment().format("YYYY-MM-DD");
                let fromDate = moment().subtract(60, 'days').format("YYYY-MM-DD");
                console.log("toDate :"+toDate);
                console.log("fromDate :"+fromDate);
                var statements = [];
                let json = {
                            storeID: storeID,
                            fromDate: fromDate,
                            toDate: toDate,
                            requestType : requestType
                        };

                    switch (requestType){

                        case "STOCK_TRANSACTION":

                            table = "stockTransactionSummary";
                            let stockTransactionArray = await new Promise((resolve, reject) => {

                                db.all(`SELECT transactionID FROM ${table} Where isSync = 1`, function(err, rows) {

                                    if (err) {
                                        console.log(err);
                                        return false;
                                    } else {
                                        let transactionIDArray = [];
                                        if (rows) {
                                            for (let i = 0; i < rows.length; i++) {
                                                transactionIDArray.push(rows[i]['transactionID']);
                                            }
                                        }
                                        resolve(transactionIDArray);
                                    }
                                });

                            });

                                let response1 = await api.postByChain('oldStockTransactions', json);

                                if (response1['data']['status'] == true) {
                                    let oldStockTransactionsArray = response1['data']['data'];

                                    oldStockTransactionsArray.forEach(async function(obj) {
                                        // obj['transactionProducts'] = await transactionProducts(obj['transactionProducts']);
                                        var json = JSON.parse(obj['JSON']);
                                        let transactionID = obj['orderID'];
                                        let transactionDate = moment(json.transactionTimeLocal).format("YYYY-MM-DD");
                                        var insertRow = [{
                                            ID: null,
                                            transactionID: transactionID,
                                            isSync: 1,
                                            isError: isUndefined(json.isError),
                                            errorMessage: isUndefined(json.errorMessage),
                                            sourceID: json.sourceID,
                                            sourceType: json.sourceType,
                                            destinationID: json.destinationID,
                                            destinationType: json.destinationType,
                                            billNumber: json.billNumber,
                                            transactionIDForChild: json.transactionIDForChild,
                                            transactionIDForParent: json.transactionIDForParent,
                                            status: json.status,
                                            fulfillmentStatus: json.fulfillmentStatus,
                                            transactionType: json.transactionType,
                                            userID: json.user?json.user:0,
                                            userName: json.userName,
                                            totalCost: json.totalCost,
                                            totalItemNumber: json.totalItemNumber,
                                            transactionTimeLocal: json.transactionTimeLocal,
                                            transactionDate: transactionDate,
                                            timezone: json.timezone,
                                            remarks: json.remarks,
                                            isDraftMode: 0,
                                            json: JSON.stringify(json)

                                        }];
                                        console.log(insertRow);
                                        console.log(requestType);

                                        if (stockTransactionArray.includes(transactionID)) {

                                            let deleteQuery = `DELETE FROM ${table} WHERE transactionID = '${transactionID}'`;

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();

                                            statements.push(deleteQuery);
                                            statements.push(insertQuery);


                                        } else {

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();
                                            statements.push(insertQuery);


                                        }


                                    })


                                }

                            break;

                        case "STOCK_REQUISITION":

                            table = "stockRequisitionSummary";

                            let stockRequisitionArray = await new Promise((resolve, reject) => {

                                db.all(`SELECT requisitionID FROM ${table} Where isSync = 1`, function(err, rows) {

                                    if (err) {
                                        console.log(err);
                                        return false;
                                    } else {
                                        let requisitionIDArray = [];
                                        if (rows) {
                                            for (let i = 0; i < rows.length; i++) {
                                                requisitionIDArray.push(rows[i]['requisitionID']);
                                            }
                                        }
                                        resolve(requisitionIDArray);
                                    }
                                });

                            });

                                let response2 = await api.postByChain('oldStockTransactions', json);

                                if (response2['data']['status'] == true) {
                                    let oldStockRequisitionArray = response2['data']['data'];

                                    oldStockRequisitionArray.forEach(function(obj) {
                                        var json = JSON.parse(obj['JSON']);
                                        let requisitionID = obj['orderID'];
                                        let transactionDate = moment(json.requisitionTimeLocal).format("YYYY-MM-DD");
                                        var insertRow = [{
                                            ID: null,
                                            requisitionID: requisitionID,
                                            vendorID : json.vendorID ? json.vendorID : 0,
                                            isSync: 1,
                                            status: json.status,
                                            isError: isUndefined(json.isError),
                                            sourceID: json.sourceID,
                                            sourceType: json.sourceType,
                                            destinationID: json.destinationID,
                                            destinationType: json.destinationType,
                                            userID: json.user?json.user:0,
                                            userName: json.userName,
                                            email: json.email,
                                            totalItemNumber: json.totalItemNumber,
                                            requisitionTimeLocal: json.requisitionTimeLocal,
                                            totalCost: json.totalCost,
                                            timezone: json.timezone,
                                            remarks: json.remarks,
                                            isDraftMode: 0,
                                            stockReference : json.stockReference,
                                            billNumber: json.billNumber,
                                            transactionDate: transactionDate,
                                            json: JSON.stringify(json)

                                        }];
                                        console.log(insertRow);
                                        console.log(requestType);

                                        if (stockRequisitionArray.includes(requisitionID)) {

                                            let deleteQuery = `DELETE FROM ${table} WHERE requisitionID = '${requisitionID}'`;

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();

                                            statements.push(deleteQuery);
                                            statements.push(insertQuery);


                                        } else {

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();
                                            statements.push(insertQuery);


                                        }


                                    })


                                }


                            break;

                        case "RETURN" :
                            table = "VoidOrderInformation";

                            let voidOrderInfoArray = await new Promise((resolve, reject) => {

                                db.all(`SELECT orderID FROM ${table} Where isSync = 1`, function(err, rows) {

                                    if (err) {
                                        console.log(err);
                                        return false;
                                    } else {
                                        let orderIDArray = [];
                                        if (rows) {
                                            for (let i = 0; i < rows.length; i++) {
                                                orderIDArray.push(rows[i]['orderID']);
                                            }
                                        }
                                        resolve(orderIDArray);
                                    }
                                });

                            });

                                let response3 = await api.postByChain('oldStockTransactions', json);

                                if (response3['data']['status'] == true) {
                                    let oldVoidOrderInfoArray = response3['data']['data'];

                                    oldVoidOrderInfoArray.forEach(function(obj) {
                                        var json = JSON.parse(obj['JSON']);
                                        let orderID = obj['orderID'];
                                        let customerInfo = json['customerInfo'];
                                        var insertRow = [{
                                            ID : null,
                                            orderID : orderID,
                                            isSync : 1,
                                            sales : json.sales,
                                            refundDiscount : json.refundDiscount,
                                            orderTime : isUndefined(json.voidTimeLocal),
                                            customerID : isUndefined(json.customerID),
                                            childPartyCode : isUndefined(json.childPartyCode),
                                            posDate : json.posDate,
                                            isError : isUndefined(json.isError),
                                            errorMessage : isUndefined(json.errorMessage),
                                            voidAmount : json.voidAmount,
                                            orderInformation: JSON.stringify(json)

                                        }];
                                        console.log(insertRow);
                                        console.log(requestType);

                                        if (voidOrderInfoArray.includes(orderID)) {

                                            let deleteQuery = `DELETE FROM ${table} WHERE orderID = '${orderID}'`;

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();

                                            statements.push(deleteQuery);
                                            statements.push(insertQuery);


                                        } else {

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();
                                            statements.push(insertQuery);


                                        }


                                    })


                                }
                            break;

                        case "ORDER":
                            table = "OrderInformation";

                            let orderInfoArray = await new Promise((resolve, reject) => {

                                db.all(`SELECT orderID FROM ${table} Where isSync = 1`, function(err, rows) {

                                    if (err) {
                                        console.log(err);
                                        return false;
                                    } else {
                                        let orderIDArray = [];
                                        if (rows) {
                                            for (let i = 0; i < rows.length; i++) {
                                                orderIDArray.push(rows[i]['orderID']);
                                            }
                                        }
                                        resolve(orderIDArray);
                                    }
                                });

                            });

                                let response4 = await api.postByChain('oldStockTransactions', json);

                                if (response4['data']['status'] == true) {
                                    let oldOrderInfoArray = response4['data']['data'];

                                    oldOrderInfoArray.forEach(function(obj) {
                                        var json = JSON.parse(obj['JSON']);
                                        let orderID = obj['orderID'];
                                        let customerInfo = json['customerInfo'] ? json['customerInfo'] : null;
                                        var insertRow = [{
                                            ID : null,
                                            orderID : orderID,
                                            isSync : 1,
                                            customerID : isUndefined(json.customerID),
                                            childPartyCode : isUndefined(json.childPartyCode),
                                            isError : isUndefined(json.isError),
                                            errorMessage : isUndefined(json.errorMessage),
                                            orderTime : json.orderCreationTimeLocal,
                                            orderType : json.orderType,
                                            posDate : json.posDate,
                                            batchID : json.batchID,
                                            netSale : json.netBill,
                                            sales : isUndefined(json.sales),
                                            discountValue : json.discountValue,
                                            grossSale : json.grossBill,
                                            totalTaxes : json.taxes,
                                            totalCharges : json.totalChargeValue,
                                            rounding : json.rounding,
                                            amountDue : json.amountDue ? json.amountDue : 0,
                                            paymentStatus :json.paymentStatus,
                                            userName: json.userName,
                                            billingUsername: json.billingUsername,
                                            Status: json.Status,
                                            totalItems: json.totalItems ?  json.totalItems : 0,
                                            isCustomer: 1,
                                            customerInfo: customerInfo,
                                            isNocharge: isUndefined(json.isNocharge),
                                            tripID: json.tripID ? json.tripID : 0,
                                            tripLegIDHash: json.tripLegIDHash ? json.tripLegIDHash : 0,
                                            orderInformation: JSON.stringify(json)

                                        }];
                                        console.log(insertRow);
                                        console.log(requestType);

                                        if (orderInfoArray.includes(orderID)) {

                                            let deleteQuery = `DELETE FROM ${table} WHERE orderID = '${orderID}'`;

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();

                                            statements.push(deleteQuery);
                                            statements.push(insertQuery);


                                        } else {

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();
                                            statements.push(insertQuery);


                                        }


                                    })


                                }
                            break; 

                             case "UPDATE_ORDER" :
                            table = "UpdatedOrderInformation";

                            let updOrderInfoArray = await new Promise((resolve, reject) => {

                                db.all(`SELECT orderID FROM ${table} Where isSync = 1`, function(err, rows) {

                                    if (err) {
                                        console.log(err);
                                        return false;
                                    } else {
                                        let orderIDArray = [];
                                        if (rows) {
                                            for (let i = 0; i < rows.length; i++) {
                                                orderIDArray.push(rows[i]['orderID']);
                                            }
                                        }
                                        resolve(orderIDArray);
                                    }
                                });

                            });

                                let response5 = await api.postByChain('oldStockTransactions', json);

                                if (response5['data']['status'] == true) {
                                    let oldUpdOrderInfoArray = response5['data']['data'];

                                    oldUpdOrderInfoArray.forEach(function(obj) {
                                        var json = JSON.parse(obj['JSON']);
                                        let orderID = obj['orderID'];
                                        let customerInfo = json['customerInfo'] ? json['customerInfo'] : null;
                                        var insertRow = [{
                                           ID : null,
                                            orderID : orderID,
                                            isSync : 1,
                                            customerID : isUndefined(json.customerID),
                                            childPartyCode : isUndefined(json.childPartyCode),
                                            isError : isUndefined(json.isError),
                                            // errorMessage : isUndefined(json.errorMessage),
                                            orderTime : json.orderCreationTimeLocal,
                                            orderType : json.orderType,
                                            posDate : json.posDate,
                                            batchID : json.batchID,
                                            netSale : json.netBill,
                                            sales : isUndefined(json.sales),
                                            grossSale : json.grossBill,
                                            totalTaxes : json.taxes,
                                            totalCharges : json.totalChargeValue,
                                            rounding : json.rounding,
                                            amountDue : json.amountDue ? json.amountDue : 0,
                                            paymentStatus :json.paymentStatus,
                                            userName: json.userName,
                                            billingUsername: json.billingUsername,
                                            Status: json.Status,
                                            totalItems: json.totalItems ?  json.totalItems : 0,
                                            isCustomer: 1,
                                            customerInfo: customerInfo,
                                            isNocharge: isUndefined(json.isNocharge),
                                            tripID: json.tripID ? json.tripID : 0,
                                            tripLegIDHash: json.tripLegIDHash ? json.tripLegIDHash : 0,
                                            orderInformation: JSON.stringify(json)

                                        }];
                                        console.log(insertRow);
                                        console.log(requestType);

                                        if (updOrderInfoArray.includes(orderID)) {

                                            let deleteQuery = `DELETE FROM ${table} WHERE orderID = '${orderID}'`;

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();

                                            statements.push(deleteQuery);
                                            statements.push(insertQuery);


                                        } else {

                                            var insertQuery = squel.insert()
                                                .into(table)
                                                .setFieldsRows(insertRow)
                                                .toString();
                                            statements.push(insertQuery);


                                        }


                                    })


                                }
                            break;

                        default :
                        console.log("table can not be null");
                        return false;
                        break; 

                    }

                    if (statements.length > 0) {
                            db.runBatchAsync(statements).then(results => {
                                console.log("SUCCESS!"+requestType)
                                console.log(results);
                            }).catch(err => {
                                console.error("BATCH FAILED: " + err);
                            });

                        }    

        }

        async function checkLogoutPermission(){

            var allow = true;

            var orders = await new Promise((resolve,reject)=>{

                db.all(`SELECT * from orderInformation where isSync = 0`,function(err,data){

                    if(err){
                        console.log(err)
                    }
                    else{
                        resolve(data)
                    }
                })
            })
            
            var stock = await new Promise((resolve,reject)=>{
            
                db.all("SELECT * FROM stockRequisitionSummary where isSync = 0", function(err, data){
                
                    if(err){
                        console.log(err)
                    }
                    else{
                        resolve(data)
                    }
                })
            })
            
            var stockTransactionSummary = await new Promise((resolve,reject)=>{
            
                db.all("SELECT * FROM stockTransactionSummary where isSync = 0", function(err, data){
                
                    if(err){
                        console.log(err)
                    }
                    else{
                        resolve(data)
                    }
                })
            })

            var voidOrderInformation = await new Promise((resolve,reject)=>{
            
                db.all("SELECT * FROM voidOrderInformation where isSync = 0", function(err, data){
                
                    if(err){
                        console.log(err)
                    }
                    else{
                        resolve(data)
                    }
                })
            })

            var updatedOrderInformation = await new Promise((resolve,reject)=>{
            
                db.all("SELECT * FROM updatedOrderInformation where isSync = 0", function(err, data){
                
                    if(err){
                        console.log(err)
                    }
                    else{
                        resolve(data)
                    }
                })
            })

            if(orders.length){
                allow = false;
            }

            if(stock.length){
                allow = false;
            }

            if(stockTransactionSummary.length){
                allow = false;
            }

            if(voidOrderInformation.length){
                allow = false;
            }

            if(updatedOrderInformation.length){
                allow = false;
            }

            console.log('allow',allow);

            if(!allow){

                const dialogOptions = {type: 'info', buttons: ['OK'], message: 'You have unsynced data which you may loose. Hence you are not allowed to reset the app.'}
                    
                await new Promise((resolve,reject)=>{

                    dialog.showMessageBox(dialogOptions, async i => {
                        
                        resolve();
                    })       
                })

                return false;
            }
            else{
                return true;
            }            

        }
        
        async function resetApp(){

            var permission = await checkLogoutPermission();

            if(permission){

                console.log('reset app modal')

                var deleteTables = ['sharedPref','piSummary','poSummary','unipayLedger','creditNotes','stockTransactionSummary','stockRequisitionSummary','orderInformation','updatedOrderInformation','voidOrderInformation','orderPayments'];

                for(let i=0;i<deleteTables.length;i++)
                {
                    var query = 'DELETE FROM '+deleteTables[i];

                    await new Promise((resolve,reject)=>{

                        db.run(query,function(err,data){

                        if(err){
                            console.log(err,deleteTables[i])
                        }
                        else{
                            resolve();
                        }
                        })

                    })
                }

                var data = {
                    userID: userID,
                    serialNumber: serialNumber
                }

                let response = await postWithoutStore('logOut', data)
                console.log(response)

                if (response.data.status) {
                    
                    localStorage.clear();
                    window.location.href = "../../index.html";
                }
            }

        }

        </script>
    </body>
</html>