<!DOCTYPE html>
<html lang="en" style="height: 100%">
	<head>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
        <script type="text/javascript" src="../../loadCSS.js"></script>
        <script type="text/javascript">
            window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.min.js');      
            require('../../assets/js/moment.min.js')
            require('../../assets/js/libs/bootstrap-table/dist/bootstrap-table.min.js')
            require('../../assets/js/libs/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js')
            require('../../assets/js/libs/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js')
          </script>
          <script src="../../dist/bundle.js"></script>
      
          <link type="text/css" rel="stylesheet" href="../../assets/css/theme-default/libs/select2/select2.css" />
          <script src="../../assets/js/libs/select2/select2.min.js"></script>
          <link type="text/css" rel="stylesheet" href="../../assets/css/theme-default/libs/bootstrap-multiselect/bootstrap-multiselect.css" />
          <script type="text/javascript" src="../../assets/js/libs/bootstrap-multiselect/bootstrap-multiselect.js"></script>

		<style type="text/css">

            .reviewTableFooter{
                justify-content: space-between;
                align-items:center;
                position: sticky;
                bottom: 0;
                padding: 1% 8%;
                background: #fff;
                box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.4);
            }

            section{
            height: 100%;
            }

            .section-body{
            height: 100%;
            }

            .selectBtn{
                -webkit-appearance: none ;
                -moz-appearance: none ; 
                background: transparent ;
                background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                background-repeat: no-repeat ;
                background-position-x: 98% ;
                background-position-y:10px ;
                padding-right: 3rem ;
                box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05) ;
                border-radius: 4px ;
                border: solid 1px #acb3ba;
                padding-top: 0;
                height: 40px;
                display: flex;
                align-items: center
            }
            .select2-arrow{
                display: none !important;
            }
                    
            .select2-chosen{
                font-family: sans-serif;
                font-size: 14px;
                font-weight: 500;
                color: #6b7783;
            }
            .select2-choice{
                width: 100%;
            }

            .detail-view{
                background: rgba(229, 230, 230, 0.25)
            }

            .customModalHeader{
                padding: 0 10px;
            }
            .customModal{
                width: 50%;
            }
            .customModal .modal-content{
                border-radius: 8px;
            }

            /* multiselect style */

            .customDropdownToggle{
                text-align: left;
                margin-top: 0;
                width: 100%;
                height: 40px;
                box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
                border-radius: 4px;
                border: solid 1px #acb3ba;
                background: white;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #6b7783;
            }

            .customBtnGroup{
                width: 100%
            }

            .tableOverflow{
                max-height: 60vh;
                overflow-y: scroll;
            }
            .stprIcon{
                width: 22px;
                height: 20px;
                margin-left: 5px
            }
	
		</style>

	</head>
    <body class="menubar-hoverable header-fixed menubar-pin menubar-first" style="height: 100%;" onload="getData()">
        <div class='headerDiv' w3-include-html="../header.html"></div>
        <div class="customLoader" id="customLoader" style="display:none">
            <img src="../../assets/img/ss4_gif.gif">
        </div>
        <!-- BEGIN BASE-->
        <div id="base" style="height: 100%">
            <div id="sidebar" w3-include-html="../sidebar.html"></div>
			<!-- BEGIN CONTENT-->
			<div id="content">
    			<!--Success Modal -->
				<div id="successModal" class="modal fade" role="dialog">
                    <div class="modal-dialog customModal" style="display:flex; justify-content:center">
                        <div class="modal-content" style="padding: 5%;border-radius: 8px;">
                            <div class="flex-row" style="justify-content: center;margin-top: 20px;margin-bottom: 10px">
                                <img src = "../../assets/img/sucess-icon.png">
                            </div>
                            <div class="flex-column" style="align-items: center;">
                                <span class="text_20_500_212b36"><span id="successTag"></span> Successful</span>
                                <span class="text_14_500_6b7783">
                                    <span class="fileName"></span> has been <span id="successTagl"></span> successfully
                                </span>
                                <span class="margin-10 text_14_500_1766a6" id="fileLocation">
                                </span>
                            </div>
                            <div class="flex-row" style="justify-content: center;margin-bottom: 20px">
                                <button class="btnWhite" onclick="closeModal('successModal')">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!--END of Success Modal -->
                <div id="myModal4" class="modal fade" role="dialog">
                    <div class="modal-dialog customModal" style="width: 35%;">
                        <!-- Modal content-->
                        <div class="modal-content billModal">
                            <div class="modal-body" id = "itemsList" style="padding:40px;text-align:center">
                                <img src="../../assets/img/sucess-icon.svg" />
                                <div class='text_20_500_212b36 margin-20'>
                                    Bill has been created successfully
                                </div>
                                <div class='text_14_500_6b7783 margin-20'>
                                    An SMS has been sent to your registered mobile number with summary of bill.
                                </div>
                                <div class='flex-column margin-20' id="billingDetails" style="align-items: center">
                                    <!-- <div class='flex-row width-70 margin-10'>
                                        <span class="text_14_500_6b7783" style="margin-right: 4px" >Bill No. : </span><span id='billNo' style="margin-left: 4px" class="text_14_500_212b36"></span>
                                    </div> -->
                                    <div class='flex-row width-70'>
                                        <span class="text_14_500_6b7783" style="margin-right: 4px">Items  : </span><span id='totalBillItems'  style="margin-left: 4px" class="text_14_500_212b36"></span>
                                    </div>
                                    <br/>
                                    <div class='flex-row width-70'>
                                        <span class="text_14_500_6b7783" style="margin-right: 4px">Amount :</span><span id='totalBillAmount'  style="margin-left: 4px" class="text_14_500_212b36"></span>
                                    </div>
                                </div>
                                <div class="flex-row" style="margin-top:20px;justify-content: space-between">
                                    <button class='btnWhite' onclick="closeModal('myModal4')">Close</button>
                                    <div class="flex-row">
                                        <button class="btnBlue flex-row"  onclick="triggerPrintPdf('print')" style="margin-left: 10px"><img  src="../../assets/img/print.png" style="padding: 0px 12px 5px 0">Print</button>
                                        <button class="btnBlue flex-row"  onclick="triggerPrintPdf()" style="margin-left: 10px"><img  src="../../assets/img/download.png" style="padding: 0px 12px 5px 0">Download</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myModal3" class="modal fade" role="dialog">
                    <div class="modal-dialog customModal"  style="width: 40%;">
                        <!-- Modal content-->
                        <div class="modal-content creditNotesModal">
                            <div class="modal-body" id = "itemsList" style="text-align:center">
                                <div class="margin-20 flex-row" style="justify-content: space-between">
                                    <div class="text_20_500_212b36">
                                        Payment
                                    </div>
                                    <div class="text_20_500_0e9d58 flex-row" >
                                        <span style="margin-right: 4px">
                                            Credit Note Adjusted
                                        </span>
                                        <img src="../../assets/img/check_icon.png" />
                                    </div>
                                </div>
                                <div class='margin-20'>
                                    <div class='flex-row margin-10' style="justify-content: space-between">
                                        <span class="text_14_500_6b7783 " style="font-weight: normal;" >Total : </span><span id='totalAmount' style="margin-left: 4px" class="text_14_500_212b36"></span>
                                    </div>
                                    <div class='flex-row margin-10' style="justify-content: space-between">
                                        <span class="text_14_500_6b7783" style="font-weight: normal;">Credit Note : </span><span id='creditNotesAmount'  style="margin-left: 4px" class="text_14_500_212b36"></span>
                                    </div>
                                    <div class='flex-row margin-10' style="justify-content: space-between">
                                        <span class="text_14_500_6b7783" style="font-weight: normal;">Remaining Amount :  </span><span id='cashAmount'  style="margin-left: 4px" class="text_14_500_212b36"></span>
                                    </div>
                                </div>
                                <div class="flex-row margin-20" style="justify-content: space-between">
                                    <button class='btnWhite width-50' style="align-items: center" onclick="closeModal('myModal3')">Close</button>
                                    <button class='btnBlue  width-50' onclick="proceedBill()" style="align-items: center; margin-left: 10px" onclick>Proceed to Bill</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog customModal" >
                        <!-- Modal content-->
                        <div class="modal-content creditNotesModal">
                        <div class="modal-header customModalHeader">
                        <div class="setModalHeader margin-20 flex-row" style="justify-content: space-between; margin-top: 30px">
                            <h4 class="modal-title text_20_500_212b36" >Credit Note</h4>
                            <div class="flex-row text_16_500_6b7783">
                                Total Bill Value :&nbsp;<span id='billAmount'></span>
                            </div>
                        </div>    
                        </div>
                        <div class="modal-body " id = "">
                            <div  class="flex-row text-center margin-20">
                                <span class="text_18_500_1766a6"  style="font-weight: normal;">
                                    Credit note found.
                                </span>&nbsp;
                                <span class="text_18_500_212b36" style="font-weight: normal;">
                                    Do you want to adjust credit note?
                                </span>
                            </div>
                            
                            <div class="flex-row" style="justify-content: flex-end">
                                <button class='btnWhite' type='button' style="font-size: 14px;" onclick="withoutCreditNotesRedeemed()">No</button>
                                <button class='btnBlue' type='button' style="font-size: 14px; margin-left: 10px"  onclick="creditNotesRedeem()">Yes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog customModal" >
                        <!-- Modal content-->
                        <div class="modal-content">
                        <div class="modal-header customModalHeader">
                        <div class="setModalHeader margin-20">
                            <h4 class="modal-title text_18_500_212b36" id = "roleTitle1"></h4>
                        </div>    
                        </div>
                        <div class="modal-body" id = "batchVariantList">
                            <input id="prodId" type='hidden'/>
                            <table class="table table-striped table-bordered dataTable no-footer table-hover" id="batchVariantListTable">
                                <thead>
                                    <tr>
                                        <th data-field = "pkm" id="batchName" data-formatter = "renderBatchCheck">PKM</th>
                                        <th data-field = "serialNumber" data-sortable = "true">SKU7</th>
                                        <th data-field = "inventory" data-sortable = "true">Closing Stock (Units)</th>
                                        <th data-field = "turPerUnit" >TUR</th>
                                        <th data-field = "MRP" >MRP</th>
                                        <!-- <th data-field = "MRP" data-sortable = "true">MRP</th> -->
                                        <th data-field = "quantityOrdered" data-formatter ="renderBatchUnit" >Quantity</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="flex-row" style="justify-content: flex-end">
                            <button class='btnWhite' type='button' onclick="closeModal('myModal')">Close</button>
                            <button class='btnBlue' type='button' onclick="saveBatchModal()" style="margin-left: 10px">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
				<!-- BEGIN BLANK SECTION 1 -->
				<section id='billingCart'>
					<div class="section-body">	
                        <div class="margin-40 flex-row" style="margin-top: 20px;justify-content: space-between;">
                            <div class="flex-column" >
                                <div class="flex-row" style="cursor: pointer" onclick="goBack()">
                                    <img src="../../assets/img/back_icon.png"  style='width:6px;height:12xpx;margin-right:8px'/>
                                    <a><span class="text_15_500_637831">Outlet Billing and Returns</span></a>
                                </div>
                                <span class="text_24_500_212b36 margin-10" id='generalTitle'>Create a manual bill</span>
                                <span class="text_24_500_212b36 margin-10" id='counterTitle' style="display: none">Create a manual bill for counter</span>
                            </div>
                            <div class="flex-row " id="topBtns" style="display: none">
                                <!-- <button class="btnWhite flex-row" onclick="goBack()">Back</button> -->
                                <button class="btnBlue flex-row proceedCartBtn" style="margin-left: 10px" onclick="proceedCart()">Proceed to cart </span>&nbsp;<span class="packsAddedCount"></span></button>
                            </div>
                        </div>

                        <div class="flex-column margin-20 width-100" style="justify-content:flex-start;">
                            <div class="flex-row">
                                <div style="width:20%;position:relative;background: #fff" >
                                    <label for="customerList" class="text_14_500_6b7783">Select Customer <span class="text_14_500_ba1800">*</span></label>
                                    <select class=" select2 selectBtn width-100" id="customerList" onchange="populatePartyCode()" >
                                        <option value='0'>None Selected</option>
                                    </select>
                                </div>
                                <div style="width:20%;position:relative;background: #fff;margin-left: 18px">
                                    <label for="partyCode" class="text_14_500_6b7783">Select Party Code <span class="text_14_500_ba1800">*</span></label>
                                    <select  class="select2 selectBtn width-100" id="partyCode" >
                                        <option value="0">None Selected </option>
                                    </select>
                                </div>
                                <div style="width:20%;position:relative;background: #fff;margin-left: 18px" >
                                    <label for="incomeHead" class="text_14_500_6b7783">Select Divisions</label>
                                    <select class=" select2 selectBtn width-100" id="incomeHead" onchange="populateBrands()">
                                        <option value="0">All Selected</option>
                                    </select>
                                </div>
                                <div style="width:20%;position:relative;background: #fff;margin-left: 18px">
                                    <label for="brands" class="text_14_500_6b7783">Select Brand</label>
                                    <select id="brands" class="selectBtn" multiple="multiple">
                                    </select>
                                    <!-- <select  class="select2 selectBtn width-100" id="brands" >
                                    <option value="0">All Brands</option>
                                    </select> -->
                                </div>
                                <div style="position:relative;margin-left: 18px">
                                    <label> </label>
                                    <button class="btnBlue" style="padding: 4px 20px; height: 40px;margin: 0" onclick="getProducts()">Go</button>
                                </div>
                            </div>

                            <div class="flex-row" style="margin-top: 30px;display: none" id='switchFilters'>      
                                <div class="flex-row" style="justify-content: space-between">
                                    <span class="text_15_500_637831 margin-10">			
                                    Show closing stock packs
                                    </span>
                                    <div style='margin-left: 15px' class="material-switch pull-right">
                                        <input id="switchOption1" value='0' onclick='getClosingStockPacks()' name="switchOption1" type="checkbox" unchecked/>
                                        <label for="switchOption1" class="label-primary"></label>
                                    </div>
                                </div>
                                <div class="flex-row" style="margin-left:40px;justify-content: space-between">
                                    <span class="text_15_500_637831 margin-10">			
                                    Show  norm level packs
                                    </span>
                                    <div style='margin-left: 15px' class="material-switch pull-right">
                                        <input id="switchOption2" value='0' onclick='getNormPacks()' name="switchOption2" type="checkbox" unchecked />
                                        <label for="switchOption2" class="label-primary"></label>
                                    </div>
                                </div>
                                <div class="flex-row" style="margin-left:40px;justify-content: space-between">
                                    <span class="text_15_500_637831 margin-10">			
                                    CLD
                                    </span>
                                    <div style='margin-left: 15px' class="material-switch pull-right">
                                        <input id="switchOption3" value='0' onclick='applyCLD()' name="switchOption3" type="checkbox" unchecked />
                                        <label for="switchOption3" class="label-primary"></label>
                                    </div>
                                </div>
						    </div>
                        </div>
						<div class="tableDiv">
                            <table class="table bulk_action dataTable no-footer" data-maintain-selected="true" id="productList" >
                                <thead>
                                    <tr>
                                        <th data-field="state" data-formatter = "renderProdCheck"></th>
                                        <th data-field = "productName" data-sortable = "true" data-formatter = "renderProdName">Product Name</th>
                                        <!-- <th data-field = "lowStockAlertQuantity" data-sortable = "true">Norm Level</th>  -->
                                        <th data-field = "closingStock"  class='text-center'  data-sortable= "true">Closing Stock (Units)</th>
                                        <th data-field = "unitsPerCase">UPC</th>
										<th data-field = "turPerUnit">TUR</th>
                                        <th data-field = "MRP">MRP</th>
                                        <!-- <th data-field = "discountValues">Discount</th> -->
                                        <th data-formatter='renderSelectStockBtn' class='text-center'>Select PKM</th>
                                        <th  id="quantityOrdered" data-formatter = "renderUnit" class='text-center'>Order Quantity</th>
                                        <th   data-formatter = "renderPrice" class='text-center' data-sortable = "true">Net Amount</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        
                        <div class="flex-row" id='bottomBtns' style="justify-content: flex-end ; margin: 0 0 40px 0; display: none">
                            <!-- <button class="btnWhite flex-row" onclick="goBack()">Back</button> -->
                            <button class="btnBlue flex-row proceedCartBtn" style="margin-left: 10px" onclick="proceedCart()">Proceed to cart </span>&nbsp;<span class="packsAddedCount"></span></button>
                        </div>
					</div>
				</section>
				<!-- BEGIN BLANK SECTION 1-->

				<!-- BEGIN BLANK SECTION 2-->	
				<section id='reviewBillingCart' style='display:none'>
					<div class="section-body">
                        <div class="margin-40 flex-row" style="margin-top: 20px;justify-content: space-between;">
                            <div class="flex-column" >
                                <div class="flex-row" style="display: none">
                                    <img src="../../assets/img/back_icon.png"  style='width:6px;height:12xpx;margin-right:8px'/>
                                    <a href="manualBilling.html"><span class="text_15_500_637831">Create a manual bill</span></a>
                                </div>
                                <span class="text_24_500_212b36 margin-10">Review Cart</span>
                            </div>
                            <div class="flex-row">
                                <button class="btnWhite flex-row" onclick="back()">Back</button>
                                <button class="btnBlue flex-row" id="generateBillBtn" style="margin-left: 10px" onclick="checkCreditNotesAdjust()">Generate Bill</button>
                            </div>
                            <!-- <button class='btnBlue  width-50'  style="align-items: center; margin-left: 10px" onclick="triggerPrintPdf()">Download</button> -->
                        </div>
						<div class="tableOverflow">
							<table class="table table-bordered dataTable no-footer" id="reviewProductList" data-maintain-selected="true" 
							data-row-attributes="rowAttributes" data-detail-view="true"  data-click-to-select="true" data-detail-formatter="detailFormatter">
								<thead>
									<tr  class="clickable" data-toggle="collapse" id="row1" data-target=".row1" >
										<th data-field="productName" >Name</th>
										<!-- <th data-field = "turPerUnit">TUR</th>
										<th data-field = "MRP">MRP</th> -->
										<!-- <th data-field = "unitsPerCase">UPC</th> -->
										<th data-field = "discountedPrice"  data-formatter = "renderReviewDiscount" class="discounted">Discount</th>
										<th data-field = "quantityOrdered" data-formatter = "renderReviewUnit" class='text-center' >Units</th>
										<th data-field = "productValue" data-formatter = "renderReviewPrice">Net Amount</th>
										<th data-field = "deleteAction" data-formatter = "renderActionButton"></th>
									</tr>
								</thead>
							</table>	
						</div>
                    </div>
					<div class='reviewTableFooter flex-row' id='reviewTableFooter' style='display:none'>
						<div class='flex-row '>
							<span class='text_30_500_212b36'>Total</span>
							<span  class='font-20-dark text_20_500_212b36' style='padding-left:10px'></span>
						</div>
						<div class='flex-column'>
							<div class=' flex-row text-right' style='justify-content: space-between;'>
								<span  class="text_18_500_6b7783" style='padding-right:20px'>Total Line Items :</span>
								<span  id='totalItems' class="text_18_500_212b36"></span>
                            </div>
                            <div class='flex-row text-right discounted' style='justify-content: space-between'>
								<span class="text_18_500_ba1800" style='padding-right:20px' >Total Cash Discount :</span>
								<span id='totalCashDiscount' class="text_18_500_ba1800"></span>
                            </div>
                            <div class='flex-row text-right discounted' style='justify-content: space-between'>
								<span class="text_18_500_ba1800" style='padding-right:20px' >Total Discount :</span>
								<span id='totalDiscountPrice' class="text_18_500_ba1800"></span>
							</div>
							<div class='flex-row text-right' style='justify-content: space-between;  margin-top: 6px'>
								<span class="text_20_500_6b7783" style='padding-right:20px' >Total Bill Value :</span>
								<span id='totalPrice' class="text_20_500_212b36"></span>
							</div>
						</div>
					</div>
				</section>
				<!-- BEGIN BLANK SECTION 2-->

			</div><!--end #content-->
			<!-- END CONTENT -->
			<!-- BEGIN OFFCANVAS RIGHT -->
			<!-- END OFFCANVAS RIGHT -->

		</div><!--end #base-->
		<!-- END BASE -->
        <script type="text/javascript" src="../../helpers.js"></script>
        <!-- <script type="text/javascript" src="../../custom.js"></script> -->
        <script type="text/javascript" src="../../loadJS.js"></script>
        <script type="text/javascript" src="manualBilling.js"></script>
	</body>
</html>
